@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #D7D9D8;
  font-family: Arial, sans-serif;
}

.app {
  text-align: center;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

h2 {
  font-size: 22px;
  margin: 20px;
  text-align: left;
}

.imagen {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

.boton {
  padding: 10px 20px;
  background-color: #4A868C;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin: 1px;
  transition: background-color 0.3s;
  text-decoration: none;
}

.boton:hover {
  background-color: #42777c;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.lista-contenedor {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
  
  .listas {
  flex-basis: 48%;
  }
  
  .navbar {
    background-color: #4A868C;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .separador{
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    justify-content: space-around;
  }
  
  .navbar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navbar li {
    margin: 0 10px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    padding-right: 10px;
  }
  
  .navbar img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
  
  .navbar form input{
    justify-content: center;
    border-radius: 12px;
    border: #4A868C;
    padding: 5px;
  }
  .detalles-contenedor {
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    text-align: left;
    margin-top: 30px;
  }
  
  .imagen-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start;
    width: 30%;
  }
  
  .titulo-imagen-container h3 {
    font-size: 24px;
    margin: 10px;
  }
  
  .informacion-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    width: 30%;
  }
  
  .botones2 {
    display: flex;
    flex-direction: row;
    align-items: flex-end; 
    justify-content: space-around;
    width: 100%;
  }
  
  .precio {
    text-align: center;
    font-weight: bold;
  }

  .titulo-imagen-container{
    margin-right: 20px;
  }
  